In [27]:
import pandas as pd

In [39]:
# -*- coding: utf-8 -*-
info = open('carros.txt','r').read().decode('utf8')
car = pd.read_excel('corpus.xlsx',encoding = 'utf8')

In [40]:
car

,carro1,carro2,carro3,carro4,carro5,carro6,carro7,carro8,carro9,carro10
0,"KIA 2.4 10/11\nR$51.000,00\nDescrição\n\nsoren...","kombi 2006\nR$20.000,00\nDescrição\n\nAnuncian...","Logan Privilège 1.6 8V 2009\nR$15.900,00\n Des...","Astra Advantage 09\nR$24.500,00\nDescrição\n\n...","UNO CS/91\nR$5.000,00\nDescrição\n\nmille 1.0 ...","IDEA ATTRACTIVE 12/13\nR$26.900,00\nDescrição\...","GOLF 2.0Flex Aut Tip ano 2009\nR$25.900,00\nDe...","ka SE 1.6\nR$35.000,00\nDescrição\n\nVendo For...","vendo vectra gls 99\nR$12.000,00\nDescrição\n\...","RANGER XLS 2.5 CD 4X2 2014\nR$59.990,00\nDescr..."